img {
  height : 300px;
 width: 500px;
 float:left;
 border:1px solid #FFF
}

p
{
  padding:1em 1em;
}
.row
{
  position: relative;
  float:left;
}
h5
{
  font-size:20px;
  text-align: justify;
  text-align:center;
  padding:1em 1em;
  text-decoration: none;
}
.date
{
  font-family: sans-serif;
  font-size: 20px;
  color: grey;
  font-weight: bold;
  padding-left: 6em;

}
.title{

}
.date-area
{

}
