
.newsfeed-title {
    font-family: sans-serif;
		font-size: 50px;

}

.news-block
{
  overflow: auto;
}
.news-title-area
{
	padding-top: 0.2em;
	padding-bottom: 13em;
	background-image: url('../headerback.png');
	height: 100px;
	background-repeat: no-repeat;
  background-position:  center;
	background-size: contain;
}
