.postblock
{
  background-color: #FFF;
  border-style: solid;
  border-width: 1px;
  padding-bottom: 2em;
  border-radius: 15px 50px;
  padding: 20px;
  width: 300px;
  height: 150px;
  box-shadow: 5px 10px;
}
