body {
  padding: 10px;
}
.searchbar {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 3px solid steelblue;
  color: steelblue;
}
li searchres
{
  background-color: #000;
}

ul2 {
  margin: 0;
  padding: 0;
  max-height: calc(100vh - 50px);
  overflow: auto;
}
.searchres {
  display: grid;
  color: 333;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 3px;
  transition: background-color 0.2s;
}
li.searchres:hover {
  background-color: beige;
}
img searchpic{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 175px;
  float: left;
}
pp
{
  font-size: 20px;
  font-family: sans-serif;

}
.searchbar
{

      width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
}
