.propic
{
  width: 100px;
  height: 100px;
  float: left;
  padding-bottom: 10px;
}
.userrow{
  display: grid;
  padding: 5px 10px ;
  margin: 50px 200px;
  border-radius: 10px;
}
.userblock
{
  overflow: auto;
  border: 1px solid black;
}
.userblock:hover
{
  background-color: #1BB7F0;
  border: 1px solid black;
}
h3
{
  font-family: sans-serif;
  text-align: center;
  color: black;
  font-size:30px;
  text-decoration: none;
}
.link
{
  text-decoration: none;
}
